<h1 class="mb-6 text-2xl font-semibold text-gray-900">Calendars</h1>

<div
    class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
    <div>
        <h2 class="pb-3 text-xl font-semibold text-gray-900">
            Basic
        </h2>

        <div class="mt-4 leading-relaxed flex gap-4 flex-wrap">
            <tui-calendar></tui-calendar>
        </div>
    </div>

</div>

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<h1 class="mb-6 text-2xl font-semibold text-gray-900">CalendarMonth</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">
    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Basic
            </h2>

            <div class="mt-4 leading-relaxed flex gap-4 flex-wrap">
                <tui-calendar-month></tui-calendar-month>
            </div>
        </div>

    </div>

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043]">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                With ranges
            </h2>

            <div class="mt-4 leading-relaxed flex gap-4 flex-wrap">
                <tui-calendar-month [value]="value" [min]="min" [max]="max"
                    (monthClick)="onMonthClick($event)"></tui-calendar-month>


            </div>
            <p>Selected range: {{ value }}</p>
        </div>

    </div>

</div>

<app-go-to [name]="'Calendars'" [url]="'https://taiga-ui.dev/components/calendar'"></app-go-to>