<h1 class="mb-6 text-2xl font-semibold text-gray-900">Notifications</h1>

<div class="grid grid-cols-1 md:grid-cols-1 gap-6 lg:gap-8">

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Basic
            </h2>

            <div class="mt-4 leading-relaxed">
                <div class="wrapper">
                    <tui-notification>
                        A short simple informative message. It can be&nbsp;multiline&nbsp;if&nbsp;you&nbsp;need it
                    </tui-notification>
                    <tui-notification status="success" class="tui-space_top-4">
                        A short simple informative message. It can be&nbsp;multiline&nbsp;if&nbsp;you&nbsp;need it
                    </tui-notification>
                    <tui-notification status="error" class="tui-space_top-4">
                        A short simple informative message. It can be&nbsp;multiline&nbsp;if&nbsp;you&nbsp;need it
                    </tui-notification>
                    <tui-notification status="warning" class="tui-space_top-4">
                        A short simple informative message. It can be&nbsp;multiline&nbsp;if&nbsp;you&nbsp;need it
                    </tui-notification>
                </div>
            </div>
        </div>

    </div>

</div>

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<h1 class="text-right mb-6 text-md font-semibold text-gray-900">More Components
    <a tuiLink href="#" target="_blank">
        Money
    </a>
</h1>