<h1 class="mb-6 text-2xl font-semibold text-gray-900">Expand</h1>

<div
    class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
    <div>
        <h2 class="pb-6 text-xl font-semibold text-gray-900">
            Dialog from string
        </h2>

        <div class="mt-4 leading-relaxed">
            <p>
                Chapman: Mr Wentworth just told me to come in here and say that there was trouble at the mill, that's
                all - I didn't
                expect a kind of Spanish Inquisition.
            </p>
            <button tuiButton type="button" (click)="toggle()">
                Show/Hide
            </button>
            <tui-expand [expanded]="expanded">
                <ng-template tuiExpandContent>
                    <p>NOBODY expects the Spanish Inquisition!</p>
                </ng-template>
            </tui-expand>

            <tui-expand [expanded]="expanded">
                <div *ngFor="let page of subpages">
                    <div>{{ page }}</div>
                </div>
            </tui-expand>

        </div>
    </div>

</div>