<h1 class="mb-6 text-2xl font-semibold text-gray-900">Badges</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Large
            </h2>

            <div class="mt-4 leading-relaxed flex gap-1 flex-wrap">
                <ul class="tui-list tui-list_large">
                    <li class="tui-list__item">Code Review ($ 10)</li>
                    <li class="tui-list__item">
                        The whole project refactoring ($ 1000)
                        <ul class="tui-list tui-list_linear tui-list_nested">
                            <li class="tui-list__item">Add auto prettier and linters on precommit ($ 50)</li>
                            <li class="tui-list__item">Rewrite to react and back ($ Infinity)</li>
                        </ul>
                    </li>
                    <li class="tui-list__item">
                        Live workshop from
                        <a tuiLink rel="noreferrer" href="https://angular.institute/corporate" target="_blank">
                            angular.institute
                        </a>
                        ($ 3000)
                        <ol class="tui-list tui-list_ordered tui-list_nested">
                            <li class="tui-list__item">Interactive samples</li>
                            <li class="tui-list__item">Case analysis</li>
                            <li class="tui-list__item">Angular knowledge that keeps on growing</li>
                        </ol>
                    </li>
                </ul>

            </div>
        </div>

    </div>

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043]">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Medium
            </h2>

            <div class="mt-4 leading-relaxed flex gap-4 flex-wrap">
                <ul class="tui-list">
                    <li class="tui-list__item">Code Review ($ 10)</li>
                    <li class="tui-list__item">
                        The whole project refactoring ($ 1000)
                        <ul class="tui-list tui-list_linear tui-list_nested">
                            <li class="tui-list__item">Add auto prettier and linters on precommit ($ 50)</li>
                            <li class="tui-list__item">Rewrite to react and back ($ Infinity)</li>
                        </ul>
                    </li>
                    <li class="tui-list__item">
                        Live workshop from
                        <a tuiLink rel="noreferrer" href="https://angular.institute/corporate" target="_blank">
                            angular.institute
                        </a>
                        ($ 3000)
                        <ol class="tui-list tui-list_ordered tui-list_nested">
                            <li class="tui-list__item">Interactive samples</li>
                            <li class="tui-list__item">Case analysis</li>
                            <li class="tui-list__item">Angular knowledge that keeps on growing</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043]">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Small
            </h2>

            <div class="mt-4 leading-relaxed flex gap-4 flex-wrap">
                <ul class="tui-list tui-list_small">
                    <li class="tui-list__item">Code Review ($ 10)</li>
                    <li class="tui-list__item">
                        The whole project refactoring ($ 1000)
                        <ul class="tui-list tui-list_linear tui-list_nested">
                            <li class="tui-list__item">Add auto prettier and linters on precommit ($ 50)</li>
                            <li class="tui-list__item">Rewrite to react and back ($ Infinity)</li>
                        </ul>
                    </li>
                    <li class="tui-list__item">
                        Live workshop from
                        <a tuiLink rel="noreferrer" href="https://angular.institute/corporate" target="_blank">
                            angular.institute
                        </a>
                        ($ 3000)
                        <ol class="tui-list tui-list_ordered tui-list_nested">
                            <li class="tui-list__item">Interactive samples</li>
                            <li class="tui-list__item">Case analysis</li>
                            <li class="tui-list__item">Angular knowledge that keeps on growing</li>
                        </ol>
                    </li>
                </ul>

            </div>

        </div>

    </div>

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043]">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Triangle bullets
            </h2>

            <div class="mt-4 leading-relaxed flex gap-4 flex-wrap">
                <ul class="tui-list tui-list_triangle">
                    <li class="tui-list__item">Code Review ($ 10)</li>
                    <li class="tui-list__item">
                        The whole project refactoring ($ 1000)
                        <ul class="tui-list tui-list_linear tui-list_nested">
                            <li class="tui-list__item">Add auto prettier and linters on precommit ($ 50)</li>
                            <li class="tui-list__item">Rewrite to react and back ($ Infinity)</li>
                        </ul>
                    </li>
                    <li class="tui-list__item">
                        Live workshop from
                        <a tuiLink rel="noreferrer" href="https://angular.institute/corporate" target="_blank">
                            angular.institute
                        </a>
                        ($ 3000)
                        <ol class="tui-list tui-list_ordered tui-list_nested">
                            <li class="tui-list__item">Interactive samples</li>
                            <li class="tui-list__item">Case analysis</li>
                            <li class="tui-list__item">Angular knowledge that keeps on growing</li>
                        </ol>
                    </li>
                </ul>

            </div>
        </div>

    </div>

</div>

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<div
    class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
    <div>
        <h2 class="pb-3 text-xl font-semibold text-gray-900">
            Medium with heading
        </h2>

        <div class="mt-4 leading-relaxed flex gap-1 flex-wrap">
            <ul class="tui-list tui-list_large">
                <li class="tui-list__item">
                    <div class="tui-list__item-title">Live workshop</div>
                    <div class="tui-list__description">
                        For any number of employees with advanced Angular knowledge that keeps on growing
                    </div>
                </li>
                <li class="tui-list__item">
                    <div class="tui-list__item-title">Interactive examples</div>
                    <div class="tui-list__description">All our chapters for your employees with lifetime access</div>
                </li>
                <li class="tui-list__item">
                    <div class="tui-list__item-title">Case analysis</div>
                    <div class="tui-list__description">
                        We can take a look at your projects to define problems and explain how to fix them
                    </div>
                </li>
            </ul>

        </div>
    </div>

</div>

<div
    class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
    <div>
        <h2 class="pb-3 text-xl font-semibold text-gray-900">
            Small with heading
        </h2>

        <div class="mt-4 leading-relaxed flex gap-1 flex-wrap">
            <ul class="tui-list">
                <li class="tui-list__item">
                    <div class="tui-list__item-title">Live workshop</div>
                    <div class="tui-list__description">
                        For any number of employees with advanced Angular knowledge that keeps on growing
                    </div>
                </li>
                <li class="tui-list__item">
                    <div class="tui-list__item-title">Interactive examples</div>
                    <div class="tui-list__description">All our chapters for your employees with lifetime access</div>
                </li>
                <li class="tui-list__item">
                    <div class="tui-list__item-title">Case analysis</div>
                    <div class="tui-list__description">
                        We can take a look at your projects to define problems and explain how to fix them
                    </div>
                </li>
            </ul>

        </div>
    </div>

</div>

<div
    class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
    <div>
        <h2 class="pb-3 text-xl font-semibold text-gray-900">
            Triangle bullets
        </h2>

        <div class="mt-4 leading-relaxed flex gap-1 flex-wrap">
            <ul class="tui-list tui-list_small">
                <li class="tui-list__item">
                    <div class="tui-list__item-title">Live workshop</div>
                    <div class="tui-list__description">
                        For any number of employees with advanced Angular knowledge that keeps on growing
                    </div>
                </li>
                <li class="tui-list__item">
                    <div class="tui-list__item-title">Interactive examples</div>
                    <div class="tui-list__description">All our chapters for your employees with lifetime access</div>
                </li>
                <li class="tui-list__item">
                    <div class="tui-list__item-title">Case analysis</div>
                    <div class="tui-list__description">
                        We can take a look at your projects to define problems and explain how to fix them
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-go-to [name]="'Lists'" [url]="'https://taiga-ui.dev/lists'"></app-go-to>