<div class="relative min-h-screen md:flex" data-dev-hint="container">
    <input type="checkbox" id="menu-open" class="hidden" />


    <header class="bg-gray-600 text-gray-100 flex justify-between md:hidden" data-dev-hint="mobile menu bar">
        <a href="#" class="block p-4 text-white font-bold whitespace-nowrap truncate">
            TaigaUI
        </a>

        <label for="menu-open" id="mobile-menu-button"
            class="m-2 p-2 focus:outline-none hover:text-white hover:bg-gray-700 rounded-md">
            <svg id="menu-open-icon" class="h-6 w-6 transition duration-200 ease-in-out"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <svg id="menu-close-icon" class="h-6 w-6 transition duration-200 ease-in-out"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </label>

    </header>

    <aside id="sidebar"
        class="z-8 bg-gray-800 text-gray-100 md:w-64 w-3/4 space-y-6 pt-6 px-0 absolute inset-y-0 left-0 transform md:relative md:translate-x-0 transition duration-200 ease-in-out  md:flex md:flex-col md:justify-between overflow-y-auto"
        data-dev-hint="sidebar; px-0 for frameless; px-2 for visually inset the navigation">
        <div class="flex flex-col space-y-6" data-dev-hint="optional div for having an extra footer navigation">
            <a href="#" class="text-white flex items-center space-x-2 px-4" title="Your App is cool">
                <img src="https://taiga-ui.dev/assets/images/taiga.svg" alt="">
                <span class="text-2xl font-extrabold whitespace-nowrap truncate">TaigaUI</span>
            </a>

            <hr class="h-px my-8 bg-white border-0 dark:bg-white">

            <nav data-dev-hint="main navigation">
                <a [routerLink]="['/dashboard/buttons']"
                    class="flex items-center space-x-2 py-1 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span class="text-xl">Buttons</span>
                </a>
            </nav>

            <nav data-dev-hint="main navigation">
                <a [routerLink]="['/dashboard/accordions']"
                    class="flex items-center space-x-2 py-1 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span class="text-xl">Accordions</span>
                </a>
            </nav>

            <nav data-dev-hint="main navigation">
                <a [routerLink]="['/dashboard/charts']"
                    class="flex items-center space-x-2 py-1 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span class="text-xl">Charts</span>
                </a>
            </nav>

            <nav data-dev-hint="main navigation">
                <a [routerLink]="['/dashboard/avatars']"
                    class="flex items-center space-x-2 py-1 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span class="text-xl">Avatars</span>
                </a>
            </nav>

            <nav data-dev-hint="main navigation">
                <a [routerLink]="['/dashboard/badges']"
                    class="flex items-center space-x-2 py-1 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span class="text-xl">Badges</span>
                </a>
            </nav>

            <nav data-dev-hint="main navigation">
                <a [routerLink]="['/dashboard/calendars']"
                    class="flex items-center space-x-2 py-1 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span class="text-xl">Calendars</span>
                </a>
            </nav>

            <nav data-dev-hint="main navigation">
                <a [routerLink]="['/dashboard/cards']"
                    class="flex items-center space-x-2 py-1 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span class="text-xl">Cards</span>
                </a>
            </nav>

            <nav data-dev-hint="main navigation">
                <a [routerLink]="['/dashboard/carousels']"
                    class="flex items-center space-x-2 py-1 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span class="text-xl">Carousels</span>
                </a>
            </nav>

            <nav data-dev-hint="main navigation">
                <a [routerLink]="['/dashboard/checkboxes']"
                    class="flex items-center space-x-2 py-1 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span class="text-xl">CheckBoxes</span>
                </a>
            </nav>

            <nav data-dev-hint="main navigation">
                <a [routerLink]="['/dashboard/colorpickers']"
                    class="flex items-center space-x-2 py-1 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span class="text-xl">Colorpickers</span>
                </a>
            </nav>

            <!-- <nav data-dev-hint="main navigation">
                <a href="#"
                    class="flex items-center space-x-2 py-2 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span>About</span>
                </a>
                <a href="#"
                    class="flex items-center space-x-2 py-2 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                    <span class="ml-6">Without Icon</span>
                </a>
            </nav> -->
        </div>

        <nav data-dev-hint="second-main-navigation or footer navigation">
            <a href="https://www.github.com/aavision" target="_blank"
                class="block py-2 px-4 transition duration-200 hover:bg-gray-700 hover:text-white">
                Created by AAVISION
            </a>
        </nav>
    </aside>

    <main class="flex-1 p-6 lg:px-8 bg-gray-100">
        <div class="max-w-7xl mx-auto">
            <div class="px-4 py-6 sm:px-0">
                <div class="h-full">
                    <router-outlet></router-outlet>
                </div>
                <!-- <div class="border-2 border-dashed border-[#ff7043] rounded-lg h-screen">
                </div> -->
            </div>
        </div>
    </main>
</div>