<h1 class="mb-6 text-2xl font-semibold text-gray-900">Tables</h1>

<div
    class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
    <div>
        <h2 class="pb-3 text-xl font-semibold text-gray-900">
            Basic
        </h2>

        <div class="mt-4 leading-relaxed flex gap-1 flex-wrap">

            <table class="tui-table">
                <tbody>
                    <tr class="tui-table__tr tui-table__tr_border_none">
                        <th class="tui-table__th tui-table__th_first">
                            <tui-checkbox [formControl]="testValue"></tui-checkbox>
                        </th>
                        <th class="tui-table__th">Title</th>
                        <th class="tui-table__th">Author</th>
                    </tr>
                    <tr class="tui-table__tr tui-table__tr_border_none">
                        <td class="tui-table__td tui-table__td_first"></td>
                        <td class="tui-table__td">Roman Sedov</td>
                        <td class="tui-table__td">20.06.2020</td>
                    </tr>
                    <tr class="tui-table__tr tui-table__tr_border_none">
                        <td class="tui-table__td tui-table__td_first"></td>
                        <td class="tui-table__td">Alex Inkin</td>
                        <td class="tui-table__td">26.08.2020</td>
                    </tr>
                    <tr class="tui-table__tr tui-table__tr_border_none">
                        <td class="tui-table__td tui-table__td_first"></td>
                        <td class="tui-table__td">Roman Sedov</td>
                        <td class="tui-table__td">28.07.2020</td>
                    </tr>
                    <tr class="tui-table__tr tui-table__tr_border_none">
                        <td class="tui-table__td tui-table__td_first"></td>
                        <td class="tui-table__td">Alex Inkin</td>
                        <td class="tui-table__td">05.08.2020</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>


<div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">



</div>

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<h1 class="text-right mb-6 text-md font-semibold text-gray-900">More Components
    <a tuiLink href="https://taiga-ui.dev/tables" target="_blank">
        Tables
    </a>
</h1>