<h1 class="mb-6 text-2xl font-semibold text-gray-900">ScrollBars</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Vertical
            </h2>

            <div class="mt-4 leading-relaxed flex gap-1 flex-wrap">
                <tui-scrollbar class="w-full h-36 border-solid border-2 border-sky-500 rounded-lg">
                    <div class="pl-2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Ab aperiam beatae consequatur magnam mollitia necessitatibus quam qui quibusdam soluta,
                            suscipit. Aut
                            doloremque eum, hic quae ratione sunt suscipit! Eaque esse illo libero minima molestiae
                            neque, nobis velit
                            voluptates?
                        </p>
                        <p>
                            Animi est facere maxime porro quae quibusdam quos totam? Consectetur eligendi, explicabo
                            magnam maxime sit
                            voluptatibus. Assumenda beatae deserunt dolorem earum et eum harum in maxime quae, quam quos
                            rem.
                        </p>
                        <p>
                            Adipisci commodi consectetur id iure praesentium quam quisquam unde veniam. Corporis cum
                            dicta distinctio
                            error excepturi, impedit quidem veritatis? Cupiditate eos illum ipsum labore, modi omnis
                            repudiandae velit
                            veniam voluptatem.
                        </p>
                        <p>
                            Asperiores dolorum, ex facilis hic maiores modi neque nisi nobis nostrum numquam placeat
                            quod repellendus
                            sequi velit voluptate! Adipisci atque deleniti eligendi ex tenetur. Beatae cumque dolore
                            impedit perferendis
                            repellat.
                        </p>
                    </div>
                </tui-scrollbar>

            </div>
        </div>

    </div>

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043]">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Horizontal
            </h2>

            <div class="mt-4 leading-relaxed flex gap-4 flex-wrap">
                <tui-scrollbar class="w-64 h-36 border-solid border-2 border-sky-500 rounded-lg">
                    <div class="whitespace-nowrap pl-2">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor eveniet
                        maiores nobis
                        quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                        voluptatum?
                    </div>
                    <div class="whitespace-nowrap pl-2">
                        Ab aperiam beatae consequatur magnam mollitia necessitatibus quam qui quibusdam soluta,
                        suscipit. Aut doloremque
                        eum, hic quae ratione sunt suscipit! Eaque esse illo libero minima molestiae neque, nobis velit
                        voluptates?
                    </div>
                    <div class="whitespace-nowrap pl-2">
                        Animi est facere maxime porro quae quibusdam quos totam? Consectetur eligendi, explicabo magnam
                        maxime sit
                        voluptatibus. Assumenda beatae deserunt dolorem earum et eum harum in maxime quae, quam quos
                        rem.
                    </div>
                    <div class="whitespace-nowrap pl-2">
                        Adipisci commodi consectetur id iure praesentium quam quisquam unde veniam. Corporis cum dicta
                        distinctio error
                        excepturi, impedit quidem veritatis? Cupiditate eos illum ipsum labore, modi omnis repudiandae
                        velit veniam
                        voluptatem.
                    </div>
                    <div class="whitespace-nowrap pl-2">
                        Asperiores dolorum, ex facilis hic maiores modi neque nisi nobis nostrum numquam placeat quod
                        repellendus sequi
                        velit voluptate! Adipisci atque deleniti eligendi ex tenetur. Beatae cumque dolore impedit
                        perferendis repellat.
                    </div>
                </tui-scrollbar>
            </div>
        </div>
    </div>

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043]">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Hidden Scrollbar
            </h2>

            <div class="mt-4 leading-relaxed flex gap-4 flex-wrap">
                <tui-scrollbar class="w-full h-36 border-solid border-2 border-sky-500 rounded-lg" [hidden]="true">
                    <div class="pl-2">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda delectus dolor
                            eveniet maiores nobis
                            quaerat quo velit vero voluptatem? Aliquam at deserunt excepturi id officiis porro quo quos
                            voluptatum?
                        </p>
                        <p>
                            Ab aperiam beatae consequatur magnam mollitia necessitatibus quam qui quibusdam soluta,
                            suscipit. Aut
                            doloremque eum, hic quae ratione sunt suscipit! Eaque esse illo libero minima molestiae
                            neque, nobis velit
                            voluptates?
                        </p>
                        <p>
                            Animi est facere maxime porro quae quibusdam quos totam? Consectetur eligendi, explicabo
                            magnam maxime sit
                            voluptatibus. Assumenda beatae deserunt dolorem earum et eum harum in maxime quae, quam quos
                            rem.
                        </p>
                        <p>
                            Adipisci commodi consectetur id iure praesentium quam quisquam unde veniam. Corporis cum
                            dicta distinctio
                            error excepturi, impedit quidem veritatis? Cupiditate eos illum ipsum labore, modi omnis
                            repudiandae velit
                            veniam voluptatem.
                        </p>
                        <p>
                            Asperiores dolorum, ex facilis hic maiores modi neque nisi nobis nostrum numquam placeat
                            quod repellendus
                            sequi velit voluptate! Adipisci atque deleniti eligendi ex tenetur. Beatae cumque dolore
                            impedit perferendis
                            repellat.
                        </p>
                    </div>
                </tui-scrollbar>
            </div>
        </div>
    </div>
</div>

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<h1 class="text-right mb-6 text-md font-semibold text-gray-900">More Components
    <a tuiLink href="https://taiga-ui.dev/components/scrollbar" target="_blank">
        Scrollbars
    </a>
</h1>