<h1 class="mb-6 text-2xl font-semibold text-gray-900">Carousals</h1>

<div class="grid grid-cols-1 md:grid-cols-1 gap-6 lg:gap-8">


    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043]">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Carousel inside dialog
            </h2>

            <div class="mt-4 leading-relaxed flex gap-4 flex-wrap">
                <button tuiButton size="m" type="button" (click)="onClick()">
                    Show dialog with carousel
                </button>

                <ng-template #header>
                    <div class="header" [style.backgroundImage]="background"></div>
                </ng-template>
                <ng-template [tuiDialogOptions]="{size: 's', header: header}" [(tuiDialog)]="open">
                    <div tuiCarouselButtons class="flex " (touchstart.passive.stop)="(0)">
                        <button tuiIconButton tuiMode="onDark" type="button" icon="tuiIconChevronLeftLarge"
                            class="tui-space_right-4" (click)="navigate(-1)"></button>
                        <tui-carousel [(index)]="index2">
                            <div *tuiItem>
                                <h2>Carousel is awesome</h2>
                                <p>It can show arbitrary content and it's very easy to control</p>
                            </div>
                            <div *tuiItem>
                                <h2>Pagination</h2>
                                <p>
                                    You can use
                                    <a tuiLink routerLink="/components/pagination">
                                        Pagination
                                    </a>
                                    component with size 's' together with it
                                </p>
                            </div>
                            <div *tuiItem>
                                <h2>Buttons</h2>
                                <p>
                                    Use
                                    <code>tuiCarouselButtons</code>
                                    directive to setup navigation buttons
                                </p>
                            </div>
                        </tui-carousel>
                        <button tuiIconButton tuiMode="onDark" type="button" icon="tuiIconChevronRightLarge"
                            class="tui-space_left-4" (click)="navigate(1)"></button>
                    </div>
                    <tui-pagination size="s" class="tui-space_top-4" [length]="3" [(index)]="index2"></tui-pagination>
                    <div class="tui-space_top-4">
                        <button tuiButton type="button" appearance="primary" (click)="open = false">
                            Got it!
                        </button>
                    </div>
                </ng-template>

            </div>

        </div>

    </div>

</div>

<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">

<h1 class="text-right mb-6 text-md font-semibold text-gray-900">More Components
    <a tuiLink href="https://taiga-ui.dev/components/carousel" target="_blank">
        Carousels
    </a>
</h1>