<h1 class="mb-6 text-2xl font-semibold text-gray-900">Cards</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Basic
            </h2>

            <div class="mt-4 leading-relaxed flex gap-1 flex-wrap">
                <tui-card cardNumber="1234" paymentSystem="visa" class="logo" [active]="true"></tui-card>

            </div>
        </div>

    </div>

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043]">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Sizes
            </h2>

            <div class="mt-4 leading-relaxed flex gap-4 flex-wrap">
                <tui-card size="s" cardNumber="1234" paymentSystem="visa" class="logo_s"></tui-card>
                <tui-card cardNumber="1234" paymentSystem="visa" class="logo_s"></tui-card>

            </div>
        </div>

    </div>

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043]">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                A cool one
            </h2>

            <div class="mt-4 leading-relaxed flex gap-4 flex-wrap">
                <tui-card cardNumber="7777" class="logo_cool" [brandLogo]="brandLogo"
                    [paymentSystem]="paymentSystem"></tui-card>

            </div>

        </div>

    </div>

</div>

<app-go-to [name]="'Cards'" [url]="'https://taiga-ui.dev/components/card'"></app-go-to>