<h1 class="mb-6 text-2xl font-semibold text-gray-900">Badges</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043] z-1">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Vertical
            </h2>

            <div class="mt-4 leading-relaxed flex gap-1 flex-wrap">
                <tui-stepper orientation="vertical" [activeItemIndex]="1">
                    <button *ngFor="let step of steps" tuiStep>
                        {{ step }}
                    </button>
                </tui-stepper>
            </div>
        </div>

    </div>

    <div
        class="scale-100 p-6 mb-3 bg-white from-gray-700/50 via-transparent rounded-lg shadow-2xl shadow-gray-500/20 flex focus:outline focus:outline-2 focus:outline-[#ff7043]">
        <div>
            <h2 class="pb-3 text-xl font-semibold text-gray-900">
                Vertical autoscroll
            </h2>

            <div class="mt-4">
                <tui-stepper orientation="vertical" class=" h-56" [activeItemIndex]="5">
                    <button *ngFor="let step of steps2" tuiStep>
                        {{ step }}
                    </button>
                </tui-stepper>
            </div>
        </div>
    </div>
</div>

<app-go-to [name]="'Steppers'" [url]="'https://taiga-ui.dev/navigation/stepper'"></app-go-to>